@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Signika Negative", sans-serif !important;
  color: rgb(233, 226, 226);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  background-color: rgb(54, 54, 54);
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(38, 166, 154);
  display: flex;
  justify-content: center;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 10px;
}

.navbar-title-container {
  display: flex;
  align-items: center;

  gap: 10px;
}

.lang-changer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-lang {
  color: rgb(54, 54, 54);
}

.description {
  display: flex;
  justify-content: center;
  height: "100%";
}

.description-container {
  width: 1200px;
  padding: 50px;
  height: "100%";
}
